<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find multi_localizer)/config" />
	<arg name="roomba"      default="roomba1" />

	<!-- semi_dynamic_map_creator -->
	<node pkg="multi_localizer" type="semi_dynamic_map_creator" name="$(arg roomba)_semi_dynamic_map_creator" output="screen">
		<!-- remap -->
		<!-- <remap from="lsr_in"  to="$(arg roomba)/corrected_scan" /> -->
		<remap from="lsr_in"  to="$(arg roomba)/filtered_scan" />
		<remap from="pose_in" to="$(arg roomba)/pose" />
		<remap from="obj_in"  to="$(arg roomba)/object_positions" />
		<remap from="map_in"  to="map" />
		<remap from="map_out" to="$(arg roomba)/local_map" />
		<remap from="obs_out" to="$(arg roomba)/obs_poses" />
		<remap from="obj_out" to="$(arg roomba)/obj_pose" />

		<!-- params -->
		<param name="LOCAL_MAP_FRAME_ID" value="$(arg roomba)/base_link" />
		<param name="HAS_REMOVED_POLE"   value="true" />

		<!-- rosparams -->
		<rosparam command="load" file="$(arg config_path)/params/dynamic_mcl/semi_dynamic_objects.yaml" />
		<rosparam command="load" file="$(arg config_path)/params/dynamic_mcl/semi_dynamic_map_creator.yaml" />
	</node >

</launch>