<?xml version="1.0"?>
<launch>
    <arg name="config_path"      default="$(find multi_localizer)/config" />
	<arg name="is_record"        default="false" />
	<arg name="publish_obj_data" default="false" />

	<!-- bag -->
	<arg name="is_bag" default="true" />
	<group if="$(arg is_bag)" >
		<include file="$(find multi_localizer)/launch/utils/20220224.launch" >
			<arg name="is_map"  value="false" />
			<arg name="is_rviz" value="false" />
		</include>
	</group>

	<!--map_server -->
	<arg name="is_map" default="true" />
	<group if="$(arg is_map)" >
		<node pkg="map_server" type="map_server" name="map" args="$(arg config_path)/map/spare/map.yaml" />
	</group>

	<!-- single_mcl (leader_roomba) -->
	<arg name="leader_roomba"   default="roomba1" />
	<include file="$(find multi_localizer)/launch/single_mcl/single_mcl.launch" >
		<!-- default -->
		<arg name="date"    value="20220224" />
		<arg name="is_bag"  value="false" />
		<arg name="is_map"  value="false" />
		<arg name="is_rviz" value="false" />
		
		<arg name="roomba"           value="$(arg leader_roomba)" />
		<arg name="is_record"        value="$(arg is_record)" />
		<arg name="publish_obj_data" value="$(arg publish_obj_data)" />
	</include>

	<!-- object_localizer (follower roomba) -->
	<arg name="follower_roomba" default="roomba2" />
	<include file="$(find multi_localizer)/launch/object_localizer/object_localizer.launch" >
		<arg name="roomba"           value="$(arg follower_roomba)" />
		<arg name="use_ops_msg"      value="true" />
		<arg name="use_ocps_msg"     value="true" />
		<arg name="publish_database" value="true" />
		<arg name="is_record"        value="$(arg is_record)" />
		<arg name="publish_obj_data" value="$(arg publish_obj_data)" />
	</include>

	<!-- rviz -->
	<arg name="is_rviz" default="true" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="$(arg follower_roomba)_rviz" args="-d $(arg config_path)/rviz/object_localizer/$(arg follower_roomba).rviz" />
    </group>

</launch>