<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find multi_localizer)/config" />
	<arg name="roomba"    default="roomba1" />

	<!-- bag -->
	<arg name="is_bag" default="true" />
	<group if="$(arg is_bag)" >
		<include file="$(find multi_localizer)/launch/utils/20220224.launch" />
	</group>

	<!--map_server -->
	<arg name="is_map" default="true" />
	<group if="$(arg is_map)" >
		<node pkg="map_server" type="map_server" name="map" args="$(arg config_path)/map/spare/map.yaml" />
	</group>

	<!-- amcl_pose_republisher (leading roomba) -->
	<arg name="leading_roomba" default="roomba1" />
	<include file="$(find multi_localizer)/launch/amcl_pose_republisher.launch" >
		<arg name="roomba"          value="$(arg leading_roomba)" />
		<arg name="is_map"          value="false" />
		<arg name="publish_obj_msg" value="true" />
		<arg name="is_rviz"         value="false" />
	</include>

	<!-- object_localizer (follower roomba) -->
	<include file="$(find multi_localizer)/launch/object_localizer/object_localizer.launch" >
		<arg name="roomba"           value="$(arg roomba)" />
		<arg name="use_ops_msg"      value="true" />
		<arg name="use_ocps_msg"     value="true" />
		<arg name="publish_database" value="true" />
		<arg name="publish_obj_data" value="true" />
		<arg name="is_record"        value="true" />
	</include>

	<!-- rviz -->
	<arg name="is_rviz" default="true" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="$(arg roomba)_rviz" args="-d $(arg config_path)/rviz/object_localizer/$(arg roomba).rviz" />
    </group>

</launch>