<?xml version="1.0"?>
<launch>
    <arg name="file_path" default="$(env HOME)/bagfiles/experimental_file_20220630" />
    <arg name="config_path" default="$(find multi_localizer)/config" />

    <!--map_server -->
	<arg name="is_map" default="false" />
	<group if="$(arg is_map)" >
		<node pkg="map_server" type="map_server" name="map" args="$(arg config_path)/map/spare/map.yaml" />
	</group>


    <!-- roomba1 -->
    <arg name="is_roomba1" default="true" />
    <group if="$(arg is_roomba1)" >
        <node pkg="rosbag" type="play" name="play1" args="$(arg file_path)/roomba1.bag" />
    </group>

    <!-- roomba2 -->
    <arg name="is_roomba2" default="true" />
    <group if="$(arg is_roomba2)" >
        <node pkg="rosbag" type="play" name="play2" args="$(arg file_path)/roomba2.bag" />
    </group>

    <!-- roomba3 -->
    <arg name="is_roomba3" default="true" />
    <group if="$(arg is_roomba3)" >
        <node pkg="rosbag" type="play" name="play3" args="$(arg file_path)/roomba3.bag" />
    </group>

    <!-- roomba4 -->
    <arg name="is_roomba4" default="true" />
    <group if="$(arg is_roomba4)" >
        <node pkg="rosbag" type="play" name="play4" args="$(arg file_path)/roomba4.bag" />
    </group>

    <!-- roomba5 -->
    <arg name="is_roomba5" default="true" />
    <group if="$(arg is_roomba5)" >
        <node pkg="rosbag" type="play" name="play5" args="$(arg file_path)/roomba5.bag" />
    </group>

    <!-- roomba6 -->
    <arg name="is_roomba6" default="true" />
    <group if="$(arg is_roomba6)" >
        <node pkg="rosbag" type="play" name="play6" args="$(arg file_path)/roomba6.bag" />
    </group>

    <!-- rviz -->
    <arg name="is_rviz" default="false" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg config_path)/rviz/rviz/rviz.rviz" />
    </group>

</launch>