<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find multi_localizer)/config" />
    <!-- <arg name="date"        default="20220224" /> -->
    <arg name="date"        default="20220630" />

    <!-- roomba -->
    <arg name="is_roomba1"  default="true" />
    <arg name="is_roomba2"  default="true" />
    <arg name="is_roomba3"  default="true" />
    <arg name="is_roomba4"  default="true" />
    <arg name="is_roomba5"  default="true" />
    <arg name="is_roomba6"  default="true" />

    <!--map_server -->
    <arg name="is_map" default="true" />
    <group if="$(arg is_map)" >
        <node pkg="map_server" type="map_server" name="map" args="$(arg config_path)/map/static_map.yaml" />
    </group>

    <!-- ros bag -->
    <arg name="is_bag" default="false" />
    <group if="$(arg is_bag)" >
        <include file="$(find multi_localizer)/launch/utils/$(arg date).launch" >
            <!-- roomba -->
            <arg name="is_roomba1" value="$(arg is_roomba1)" />
            <arg name="is_roomba2" value="$(arg is_roomba2)" />
            <arg name="is_roomba3" value="$(arg is_roomba3)" />
            <arg name="is_roomba4" value="$(arg is_roomba4)" />
            <arg name="is_roomba5" value="$(arg is_roomba5)" />
            <arg name="is_roomba6" value="$(arg is_roomba6)" />
        </include>
    </group>

    <!-- images_connector -->
    <node pkg="multi_localizer" type="images_connector" name="images_connector" output="screen" >
        <!-- param -->
        <param name="IMG_TOPIC_NAME" value="detected_image" />

        <!-- rosparam -->
        <rosparam command="load" file="$(arg config_path)/params/robot_element.yaml" />
    </node>

    <!-- rviz -->
    <arg name="is_rviz" default="false" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg config_path)/rviz/rviz/image_connector.rviz" />
    </group>

</launch>
