<?xml version="1.0"?>
<launch>
    <arg name="topic_name" default="detected_image" />

    <!-- roomba1 -->
    <arg name="is_roomba1" default="true" />
    <group if="$(arg is_roomba1)" >
        <node pkg="image_transport" type="republish" name="roomba1_republish" args="compressed raw" >
            <remap from="in"  to="roomba1/$(arg topic_name)" />
            <remap from="out" to="roomba1/$(arg topic_name)" />
        </node>
    </group>

    <!-- roomba2 -->
    <arg name="is_roomba2" default="true" />
    <group if="$(arg is_roomba2)" >
        <node pkg="image_transport" type="republish" name="roomba2_republish" args="compressed raw" >
            <remap from="in"  to="roomba2/$(arg topic_name)" />
            <remap from="out" to="roomba2/$(arg topic_name)" />
        </node>
    </group>

    <!-- roomba3 -->
    <arg name="is_roomba3" default="true" />
    <group if="$(arg is_roomba3)" >
        <node pkg="image_transport" type="republish" name="roomba3_republish" args="compressed raw" >
            <remap from="in"  to="roomba3/$(arg topic_name)" />
            <remap from="out" to="roomba3/$(arg topic_name)" />
        </node>
    </group>

    <!-- roomba4 -->
    <arg name="is_roomba4" default="true" />
    <group if="$(arg is_roomba4)" >
        <node pkg="image_transport" type="republish" name="roomba4_republish" args="compressed raw" >
            <remap from="in"  to="roomba4/$(arg topic_name)" />
            <remap from="out" to="roomba4/$(arg topic_name)" />
        </node>
    </group>

    <!-- roomba5 -->
    <arg name="is_roomba5" default="true" />
    <group if="$(arg is_roomba5)" >
        <node pkg="image_transport" type="republish" name="roomba5_republish" args="compressed raw" >
            <remap from="in"  to="roomba5/$(arg topic_name)" />
            <remap from="out" to="roomba5/$(arg topic_name)" />
        </node>
    </group>

    <!-- roomba6 -->
    <arg name="is_roomba6" default="true" />
    <group if="$(arg is_roomba6)" >
        <node pkg="image_transport" type="republish" name="roomba6_republish" args="compressed raw" >
            <remap from="in"  to="roomba6/$(arg topic_name)" />
            <remap from="out" to="roomba6/$(arg topic_name)" />
        </node>
    </group>

    <!-- rviz -->
    <arg name="is_rviz" default="false" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg config_path)/rviz/rviz/rviz.rviz" />
    </group>

</launch>